    <navbar class="navbar"> 
        <h1 class="title">Tech Blog</h1> 
        <ul>
            <li><a href="/view">View</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </navbar>
