<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/navbar") %>
    <section class="content">
        <p class="not-found">Page not found</p>
    </section>
    <%- include("./partials/footer") %>
</body>
</html>