<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/navbar") %>
    <section class="content about-us">
        <h2>About</h2>
        <p>Welcome to Tech Blog, your ultimate source for the latest trends in technology and programming!</p>
    </section>
    <%- include("./partials/footer") %>
</body>
</html>