<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/navbar") %>
    <section class="content">
        <h2>All Blogs</h2>
    </section>
    <%- include("./partials/footer") %>
</body>
</html>