* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    min-height: 100vh;
}

.content {
    margin: 40px;
    padding: 20px;
    min-height: calc(100vh - 77px - 56px - 80px);      /* 77px for navbar height, 56px for footer height, 80px for content top and bottom margins */
}

.content h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.posts {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.post h3, .post-details h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.post p, .post-details p {
    font-size: 18px; 
    color: #666;
    margin-bottom: 20px;
}

.post a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.post a:hover {
    color: #0056b3;
}

.post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 22px;
    color: #333;
    margin-top: 50px;
}

.description {
    font-size: 16px;
    color: #666;
    margin: 15px 0px;
    line-height: 1.6;
}

.read-more {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.read-more:hover {
    color: #0056b3;
}

/* Create blog page */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}


/* About Us Page */
.content.about-us p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #333;
    color: #fff;
}

.navbar .navbar-title a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 28px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar ul li a:hover, .navbar .navbar-title a:hover {
    color: #00bcd4;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 20px 30px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    width: 100%;
}

.footer p {
    margin: 0;
}

